<h1>Patients</h1>
<table style="width:100%">
  <tr>
    <th>Patient name</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let patient of patientList">
    <td>{{patient.name}}</td>
    <td>{{patient.address}}</td>
    <td><button color="primary" (click)="name.value = patient.name ; adress.value = patient.address; currentExams = patient.exams">Edit</button></td>
  </tr>
</table>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input #name matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input #adress matInput placeholder="Adress">
  </mat-form-field>
</form>
<div><button class="app-button" mat-raised-button color="primary"
             (click)="createPatient(name.value, adress.value)">Add Patient</button></div>
<app-examination-request [examinationList] = "currentExams"></app-examination-request>
{{acctInfo | json}}
{{error | json}}
